---
import Social from "../components/Social.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Robert - Frontend Developer</title>
  </head>
  <body class="text-gray-800 font-sans">
    <main class="mx-auto w-full lg:w-[80%] min-h-[100vh] mb-10 bg-white">
      <Header />
      <div class="px-4 md:px-[10em]">
        <section
          class="text-left md:text-center py-[2em] md:py-[4em] flex flex-col md:justify-center md:items-center"
        >
          <img
            src="./full.jpg"
            class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] object-cover rounded-full"
            alt=""
          />
          <div class="my-2">
            <h2 class="text-2xl md:text-4xl font-normal">
              Robert Romero Medina
            </h2>
            <p class="text-xl md:text-2xl md:mt-4 font-light">
              Frontend Developer
            </p>
          </div>
          <div class="mt-2">
            <h4 class="text-xl md:text-3xl my-2 font-normal">About me</h4>
            <p class="text-md text-lg font-light text-gray-600">
              Hi, I’m Robert Romero, a frontend developer with over 4 years of
              experience. I specialize in building efficient and visually
              engaging solutions, and I’m based in Boston, MA. I’ve worked on
              projects in industries like real estate, healthcare, and
              insurance.
            </p>
            <br />
            <p class="text-md text-lg font-light text-gray-600">
              I was born on a beautiful island in the Caribbean called the
              Dominican Republic. I started my journey in programming in 2019 as
              a self-taught developer. I received a scholarship from Platzi and
              Facebook Developer Circles to train as a Frontend Developer.
              <br />
              <br />
              Skills: (Development) I enjoy creating client-side logic and understanding
              how users interact with web applications. (Layout) I consider myself
              proficient in layout design, and I have the ability to create layouts
              without a pre-existing design. Currently, I am skilled in creating
              products and monetizing them.
            </p>
          </div>
          <div class="flex flex-col md:flex-row gap-2 my-6">
            <a
              href="/RobertCV.pdf"
              download="Robert_Romero_CV.pdf"
              class="underline"
            >
              Download CV →
            </a>
            <a
              href="https://www.diforvi.com/"
              target="_blank"
              class="underline"
            >
              See my services →
            </a>
            <a href="/projects" class="underline"> See my projects → </a>
          </div>
          <div class="mt-4">
            <Social />
          </div>
        </section>
      </div>
      <footer class="text-gray-800 text-center">
        <p>&copy; 2025 Robert Frontend. All rights reserved.</p>
      </footer>
    </main>

    <!-- modal -->
    <dialog id="modalContact" class="modal">
      <div class="modal-box text-center">
        <h3 class="font-bold text-black text-2xl">Where you can talk to me</h3>

        <ul class="space-y-4 mt-4">
          <li class="flex items-center">
            <!-- <span class="font-semibold">Email </span> -->
            <a
              target="_blank"
              href="mailto:robert02frontend@gmail.com"
              class="btn btn-lg w-full ml-2 font-bold bg-transparent border border-gray-50 hover:bg-transparent"
            >
              Email
            </a>
          </li>
          <li class="flex items-center">
            <a
              target="_blank"
              href="https://wa.me/18573975959"
              class="btn btn-lg w-full ml-2 font-bold bg-transparent border border-gray-50 hover:bg-transparent"
            >
              WhatsApp</a
            >
          </li>
          <li class="flex items-center">
            <a
              target="_blank"
              href="https://instagram.com/robertfrontend"
              class="btn btn-lg w-full ml-2 font-bold bg-transparent border border-gray-50 hover:bg-transparent"
            >
              Instagram</a
            >
          </li>
          <li class="flex items-center">
            <a
              target="_blank"
              href="https://linkedin.com/in/robertfrontend"
              class="btn btn-lg w-full ml-2 font-bold bg-transparent border border-gray-50 hover:bg-transparent"
            >
              LinkedIn</a
            >
          </li>
        </ul>

        <div class="modal-action">
          <form method="dialog">
            {/* if there is a button in form, it will close the modal */}
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("contact-button");
    if (button) {
      button.addEventListener("click", () => {
        const modal = document.getElementById("modalContact");
        if (modal) {
          (modal as HTMLDialogElement).showModal();
        }
      });
    }
  });
</script>
