---
import Services from "../components/Services.astro";
import AboutMe from "../components/AboutMe.astro";
import MyWorks from "../components/MyWork.astro";

import Social from "../components/Social.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robert - Frontend Developer</title>
  </head>
  <body class="bg-white text-gray-800 font-sans">
    <!-- Header Section -->
    <section class="text-center py-10">
      <div class="container mx-auto text-center px-4 md:px-0">
        <p class="text-sm text-green-500 font-semibold">
          ✅ AVAILABLE FOR WORK
        </p>
        <h1 class="text-3xl md:text-6xl font-bold mt-2">
          Hello 👋, I'm Robert Romero
        </h1>
        <h1 class="text-3xl md:text-6xl font-bold text-[#5E22EB] mt-2">
          Frontend Developer
        </h1>
        <h4 class="text-xl md:text-3xl text-gray-500 mt-2">
          Creating digital experiences that make an impact.
        </h4>
        <a
          href="#contact"
          class="mt-4 inline-block bg-gray-800 text-white px-8 py-3 rounded-full text-xl"
        >
          Let's work together →
        </a>
      </div>
    </section>

    <Social />

    <Services />

    <MyWorks />

    <AboutMe />

    <Social />

    <footer class="bg-gray-50 text-gray-800 text-center py-10 mt-8">
      <p>&copy; 2025 Robert Frontend. All rights reserved.</p>
    </footer>
  </body>
</html>
