---
import Services from "../components/Services.astro";
import AboutMe from "../components/AboutMe.astro";
import MyWorks from "../components/MyWork.astro";

import Social from "../components/Social.astro";
import Projects from "../components/Projects.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robert - Frontend Developer</title>
  </head>
  <body class="bg-white text-gray-800 font-sans">
    <!-- Header Section -->

    <main class="mx-auto w-[90%] md:w-[900px] min-h-[100vh] mb-10">
      <header
        class="text-center py-[4em] flex flex-col justify-center items-center"
      >
        <img
          src="./full.jpg"
          class="w-[200px] h-[200px] object-cover rounded-full"
          alt=""
        />
        <div class="my-2">
          <h2 class="text-3xl md:text-5xl font-bold">Robert Romero Medina</h2>
          <p class="text-xl md:text-3xl md:mt-4 font-semibold text-violet">
            Frontend Developer
          </p>
        </div>
        <div class="mt-2">
          <h4 class="text-3xl md:text-3xl my-2 font-semibold">About me</h4>
          <p class="text-xl md:text-2xl font-normal text-gray-600">
            I'm a Frontend Developer with over 4 years of experience crafting
            engaging digital experiences using React.js, Next.js, and Tailwind
            CSS. Passionate about building impactful web solutions that blend
            functionality and aesthetics.
          </p>
        </div>
        <div class="mt-4">
          <Social />
        </div>
        <div class="flex gap-2 my-2">
          <a
            href="#contact"
            class="mt-4 inline-block bg-white border border-gray-800 text-gray-800
            px-4 py-2 rounded-md text-xl shadow-sm"
            id="contact-button"
          >
            Let's work together →
          </a>
          <a
            href="/RobertCV.pdf"
            download="Robert_Romero_CV.pdf"
            class="mt-4 inline-block bg-white border border-gray-800 text-gray-800
            px-4 py-2 rounded-md text-xl shadow-sm"
          >
            Download CV →
          </a>
        </div>
      </header>
      <Projects />
    </main>

    <!-- modal -->
    <dialog id="modalContact" class="modal">
      <div class="modal-box text-center">
        <h3 class="font-bold text-black text-2xl">Where you can talk to me</h3>

        <ul class="space-y-4 mt-4">
          <li class="flex items-center">
            <!-- <span class="font-semibold">Email </span> -->
            <a
              target="_blank"
              href="mailto:robert02frontend@gmail.com"
              class="btn btn-lg w-full ml-2 font-bold bg-transparent border border-gray-50 hover:bg-transparent"
            >
              Email
            </a>
          </li>
          <li class="flex items-center">
            <a
              target="_blank"
              href="https://wa.me/18573975959"
              class="btn btn-lg w-full ml-2 font-bold bg-transparent border border-gray-50 hover:bg-transparent"
            >
              WhatsApp</a
            >
          </li>
          <li class="flex items-center">
            <a
              target="_blank"
              href="https://instagram.com/robertfrontend"
              class="btn btn-lg w-full ml-2 font-bold bg-transparent border border-gray-50 hover:bg-transparent"
            >
              Instagram</a
            >
          </li>
          <li class="flex items-center">
            <a
              target="_blank"
              href="https://linkedin.com/in/robertfrontend"
              class="btn btn-lg w-full ml-2 font-bold bg-transparent border border-gray-50 hover:bg-transparent"
            >
              LinkedIn</a
            >
          </li>
        </ul>

        <div class="modal-action">
          <form method="dialog">
            {/* if there is a button in form, it will close the modal */}
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>

    <br />
    <Social />

    <footer class="bg-gray-50 text-gray-800 text-center py-10 mt-8">
      <p>&copy; 2025 Robert Frontend. All rights reserved.</p>
    </footer>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("contact-button");
    if (button) {
      button.addEventListener("click", () => {
        const modal = document.getElementById("modalContact");
        if (modal) {
          (modal as HTMLDialogElement).showModal();
        }
      });
    }
  });
</script>
