---
import MyProjects from "../components/MyProjects.astro";
import Header from "../components/Header.astro";
---

<div>
  <Header />
  <section id="projects" class="py-8">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">My Projects</h2>
      <p class="text-md text-lg font-light text-gray-600">
        Here are some of the projects I have worked on. Each project showcases
        my skills and experience in web development, including front-end and
        back-end technologies. I am passionate about creating efficient and
        scalable solutions.
      </p>
      <MyProjects />
    </div>
  </section>
</div>
