<section class="py-12 text-center max-w-4xl mx-auto">
  <div class="container mx-auto text-center px-4 md-px-0">
    <h2 class="text-4xl font-bold text-gray-800 mb-4">👤 About Me</h2>
    <h4 class="text-xl md:text-2xl text-gray-800 mt-2">
      I'm a <span class="text-[#5E22EB]">Frontend Developer</span>
      with over
      <span class="">4 years of experience</span> crafting engaging digital experiences
      using
      <span class="">React.js</span>, <span class="">Next.js</span>, and
      <span class="">Tailwind CSS</span>. Passionate about building impactful
      web solutions that blend functionality and aesthetics.
    </h4>

    <div class="py-12 text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-6">What I Do Best</h2>
      <div class="max-w-3xl mx-auto grid gap-4 md:gap-6">
        <!-- Card 1 -->
        <div class="flex items-start gap-4 bg-white p-4 rounded-lg shadow-sm">
          <div
            class="h-10 w-10 text-[#5E22EB] flex items-center justify-center rounded-md font-bold"
          >
            →
          </div>
          <div class="text-left">
            <h3 class="text-xl md:text-2xl font-semibold">
              Building Fast and Responsive Web Applications
            </h3>
            <p class="text-lg text-gray-600">
              Crafting high-performance web solutions with optimal user
              experience and responsiveness across devices.
            </p>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="flex items-start gap-4 bg-white p-4 rounded-lg shadow-sm">
          <div
            class="h-10 w-10 text-[#5E22EB] flex items-center justify-center rounded-md font-bold"
          >
            →
          </div>
          <div class="text-left">
            <h3 class="text-xl md:text-2xl font-semibold">
              Designing Intuitive and User-Friendly Interfaces
            </h3>
            <p class="text-lg text-gray-600">
              Creating clean and visually appealing interfaces that enhance
              usability and engagement.
            </p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="flex items-start gap-4 bg-white p-4 rounded-lg shadow-sm">
          <div
            class="h-10 w-10 text-[#5E22EB] flex items-center justify-center rounded-md font-bold"
          >
            →
          </div>
          <div class="text-left">
            <h3 class="text-xl md:text-2xl font-semibold">
              Delivering High-Quality and Scalable Solutions
            </h3>
            <p class="text-lg text-gray-600">
              Building scalable systems that adapt to growth while maintaining
              performance and reliability.
            </p>
          </div>
        </div>
      </div>
    </div>

    <a
      href="#contact"
      class="mt-4 inline-block bg-gray-800 text-white px-8 py-3 rounded-full text-xl"
    >
      Let's work together →
    </a>
  </div>
</section>
