<header class="bg-white py-4 md:py-8 w-full">
  <div class="container mx-auto flex justify-between items-center px-4">
    <h1 class="text-xl font-normal text-gray-800">
      <a href="/">Robertfrontend</a>
    </h1>
    <nav class="flex space-x-4">
      <a
        href="https://www.diforvi.com/"
        target="_blank"
        class="text-gray-800 hover:text-violet-600 underline">Services</a
      >
      <a href="/projects" class="text-gray-800 hover:text-violet-600 underline"
        >Projects</a
      >
    </nav>
  </div>
</header>
