---
const projects = [
  {
    name: "Menu DR",
    description: "Web application to create digital menus.",
    earnings: "$1,500",
    link: "https://menudr.netlify.app/",
  },
  {
    name: "Privitys Events",
    description: "application to create and manage events",
    earnings: "$0",
    link: "https://privitys-efp9iks2c-robertfrontend.vercel.app/",
  },
  {
    name: "DforV AI",
    description:
      "Application to create descriptions for your products with AI ",
    earnings: "$0",
    link: "https://dforv.vercel.app/",
  },
];
---

<ul class="mt-8">
  {
    projects.map((item) => (
      <li class="my-2">
        <a href="https://menudr.netlify.app/">
          <h4 class="text-2xl text-[#5D22EB]">{item.name}</h4>
          <p class="text-lg md:text-xl text-zinc-300">{item.description}</p>
          <p class="text-lg md:text-xl text-zinc-300">
            Earnings {item.earnings} USD
          </p>
          <hr class="w-[50px] text-center mx-auto mt-4" />
        </a>
      </li>
    ))
  }
</ul>
