<!-- Services Section -->
<div class="text-center px-4">
  <div class="py-10 text-center">
    <div class="flex flex-wrap justify-center gap-4">
      <!-- Service Card 1 -->
      <!-- <div class="dropdown"> -->
      <div
        tabindex={0}
        role="button"
        class="group inline-flex items-center justify-center text-gray-800
         px-4 py-2 md:px-6 md:py-3 rounded-xl text-lg
         font-medium transition-transform transform hover:scale-105 shadow-md"
      >
        → Websites for Business
      </div>
      <!-- <ul
          tabindex={0}
          class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
        >
          <li><a class="text-xl">Item 1</a></li>
        </ul>
      </div> -->

      <!-- Service Card 2 -->
      <a
        href="#"
        class="group inline-flex items-center justify-center text-gray-800
         px-4 py-2 md:px-6 md:py-3 rounded-xl text-lg
         font-medium transition-transform transform hover:scale-105 shadow-md"
      >
        → MVPs Creator
      </a>

      <!-- Service Card 3 -->
      <a
        href="#"
        class="group inline-flex items-center justify-center text-gray-800
         px-4 py-2 md:px-6 md:py-3 rounded-xl text-lg
         font-medium transition-transform transform hover:scale-105 shadow-md"
      >
        → Frontend Services
      </a>
    </div>
  </div>
</div>
