<!-- Services List Section -->
<div class="text-center">
  <div class="py-10 text-center">
    <ul
      class="space-y-4 md:space-y-0 flex flex-col lg:flex-row justify-center items-stretch"
    >
      <li class="bg-white p-4 md:p-6 rounded-xl shadow-sm flex flex-col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="text-violet lucide lucide-tablet-smartphone my-2 mx-auto"
          ><rect width="10" height="14" x="3" y="8" rx="2"></rect><path
            d="M5 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2h-2.4"
          ></path><path d="M8 18h.01"></path></svg
        >
        <h3 class="text-lg font-semibold text-gray-600">
          Websites for Business
        </h3>
        <p class="text-md text-gray-600 mt-2">
          Professional websites tailored for your business needs, ensuring a
          strong online presence.
        </p>
      </li>
      <li class="bg-white p-6 rounded-xl shadow-sm flex flex-col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="text-violet lucide lucide-shrub mx-auto my-2"
          ><path d="M12 22v-7l-2-2"></path><path
            d="M17 8v.8A6 6 0 0 1 13.8 20H10A6.5 6.5 0 0 1 7 8a5 5 0 0 1 10 0Z"
          ></path><path d="m14 14-2 2"></path></svg
        >
        <h3 class="text-lg font-semibold text-gray-600">MVPs Creator</h3>
        <p class="text-md text-gray-600 mt-2">
          Quickly develop Minimum Viable Products to validate your startup ideas
          and attract investors.
        </p>
      </li>
      <li class="bg-white p-6 rounded-xl shadow-sm flex flex-col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="text-violet lucide lucide-chevrons-left-right-ellipsis mx-auto my-2"
          ><path d="m18 8 4 4-4 4"></path><path d="m6 8-4 4 4 4"></path><path
            d="M8 12h.01"></path><path d="M12 12h.01"></path><path
            d="M16 12h.01"></path></svg
        >
        <h3 class="text-lg font-semibold text-gray-600">
          Frontend Developer Services
        </h3>
        <p class="text-md text-gray-600 mt-2">
          Expert frontend development services to create responsive and
          interactive user interfaces.
        </p>
      </li>
    </ul>
  </div>
</div>
